.accordian-item {
  height: 108px;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 20px;
  margin: 10px 0px;
  border-radius: 10px;
  border: 1px solid #756e6e;
  transition: 0.5s ease-in-out height;
}

.accordian-item.active {
  height: 400px;
}

.plus-icon {
  position: absolute;
  right: 20px;
  top: 42px;
}

.plus-icon span {
  color: #000000;
  cursor: pointer;
}
